@font-face {
    src: url(Spiderman-Homecoming.otf);
    font-family: spidermanFont;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: spidermanFont;
    background: url('nowayhome.GIF') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h2 {
    font-size: 5rem;
}

h3 {
    color: white;
}

h5 {
    color: rgb(48, 48, 156);
}

.coming-soon {
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.countdown {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.logo-middle {
    display: flex; 
    justify-content: center;
    padding-top: 4%;
}

.day, .hour, .minute, .second {
    font-size: 3rem;
}

#spidermannowayhome {
    justify-content: center;
    max-width: 40%;  
    height: auto;
}